@layer global {
  :root {
    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-stretch: normal;
    --font-style: normal;
    --font-variant: normal;
    --font-weight: normal;
  }

  *, :before, :after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--font-family);
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  hr {
    color: inherit;
    border-top-width: 1px;
    height: 0;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    --font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: var(--font-family);
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: none;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: none;
  }

  input:where(:not([type="button"], [type="reset"], [type="submit"])), select, textarea {
    border: 1px solid;
  }

  button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
    -webkit-appearance: button;
    appearance: button;
  }

  ::file-selector-button {
    -webkit-appearance: button;
    appearance: button;
  }

  :-moz-focusring {
    outline: auto;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  progress {
    vertical-align: baseline;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  ::webkit-search-decoration {
    -webkit-appearance: none;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  textarea {
    resize: vertical;
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in srgb, currentColor 50%, transparent);
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  [hidden]:not([hidden="until-found"]) {
    display: none;
  }
}

@layer tokenami {
  :root {
    --_grid: .25rem;
    --text-size_sm: .875rem;
  }

  :root, [data-theme="light"] {
    --color_amber8: #e2a336;
    --color_red8: #eb8e90;
  }

  @supports (color: color(display-p3 0 0 0)) {
    :root, [data-theme="light"] {
      --color_amber8: color(display-p3 .85 .65 .3);
      --color_red8: color(display-p3 .872 .575 .572);
    }
  }

  [data-theme="dark"] {
    --color_amber8: #8f6424;
    --color_red8: #b54548;
  }

  @supports (color: color(display-p3 0 0 0)) {
    [data-theme="dark"] {
      --color_amber8: color(display-p3 .535 .399 .189);
      --color_red8: color(display-p3 .659 .298 .297);
    }
  }

  [style] {
    --prose-p: initial;
    --test-1: initial;
    --test-1_background-color: initial;
    --test-3: initial;
    --test-3_background-color: initial;
    --margin: initial;
    --test-2: initial;
    --test-2_margin: initial;
    --test-4: initial;
    --test-4_margin: initial;
  }

  @layer tk1 {
    [style] {
      margin: var(--_n3khrc, var(--margin, revert-layer));
      --_n3khrc: var(--margin__calc) calc(var(--margin) * var(--_grid));
    }
  }

  @layer tk2 {
    [style] {
      font-size: var(--font-size, revert-layer);
    }
  }

  @layer tks1 {
    [style] p, [style] {
      margin: var(--_c61uqp, var(--_1ut53h5, revert-layer));
      --_1ut53h5: var(--test-2) var(--_1j30psg, var(--test-2_margin));
      --_1j30psg: var(--test-2_margin__calc) calc(var(--test-2_margin) * var(--_grid));
      --_c61uqp: var(--test-4) var(--_qv5gae, var(--test-4_margin));
      --_qv5gae: var(--test-4_margin__calc) calc(var(--test-4_margin) * var(--_grid));
    }
  }

  @layer tks2 {
    [style] p, [style] {
      background-color: var(--_89d124, var(--_171bftq, var(--_ohlf6, revert-layer)));
      --_ohlf6: var(--prose-p) var(--prose-p_background-color);
      --_171bftq: var(--test-1) var(--test-1_background-color);
      --_89d124: var(--test-3) var(--test-3_background-color);
    }
  }

  [style] p {
    --prose-p: ;
  }

  .test-1 {
    --test-1: ;
  }

  [style].test-4 {
    --test-3: ;
  }

  .test-2 {
    --test-2: ;
  }

  [style].test-4 {
    --test-4: ;
  }
}
